p {
  color: red;
}

.box1 {
  color: blue;
}

#unique {
  color: darkblue;
}

[type="text"] {
  color: orange;
}

div span {
  color: purple;
}

section > p {
  color: brown;
}

h2 + p {
  color: teal;
}

div.combo p {
  color: pink;
}

li {
  color: blueviolet;
}

a {
  color: black;
}
